body {
    background-color: #f4f4f4;
    font-family: 'Georgia', serif;
}

header {
    background-color: #052111;
    color: darkgreen;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

h2 {
    color: #2f4f4f;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4b0082;
    color: white;
}
