body {
    background-color: #ececec;
    font-family: Arial, sans-serif;
}

header {
    background-color: ##052111;
    color: darkgreen;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

button {
    padding: 10px;
    background-color: #2f4f4f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3e6e6e;
}