body {
    background-color: #fff8e1;
    font-family: 'Helvetica', sans-serif;
}

header {
    background-color: #052111;
    color: darkgreen;
    padding: 20px;
}

button {
    padding: 10px;
    background-color: #673ab7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4527a0;
}